<div {{did-update (fn this.loadInitial @model) @model}}>
  {{#if this.loadInitialTask.isRunning}}
    <div class="text-center py-5">
      Loading...
    </div>
  {{else if this.visiblePosts.length}}
    {{yield this.visiblePosts}}

    {{#if (gt this.totalPosts this.postAmount)}}
      <div class="text-center">
        <button class="es-button" {{on "click" this.loadMore}}>Load more</button>
      </div>
    {{/if}}
  {{else}}
    <div class="text-center py-5">
      No posts found.
    </div>
  {{/if}}
</div>