<article ...attributes>
  <h2 class="text-xl">{{@post.title}}</h2>
  <div class="text-muted mt-0 mb-3">
    <time>{{date-format @post.date}}</time> &ndash;
    <AuthorList @post={{@post}} />
  </div>

  <p>
    {{#if @post.excerpt}}
      <MarkdownToHtml @markdown={{@post.excerpt}} />
    {{else}}
      {{excerpt @post.html words="40"}}...
    {{/if}}
  </p>

  <LinkTo @route="post" @model={{@post.id}} class="es-button-secondary mt-3">
    Read on...
  </LinkTo>
</article>

<hr class="my-4">