<div class="tag-panel p-2 bg-none">
  {{#if this.recentPostsTag}}
    <div class="tag-panel-group">
      <TagPostList @tag={{this.recentPostsTag}}></TagPostList>
    </div>
  {{/if}}

  {{#if this.releasesTag}}
    <div class="tag-panel-group">
      <TagPostList @tag={{this.releasesTag}}></TagPostList>
    </div>
  {{/if}}

  {{#if this.emberTimesTag}}
    <div class="tag-panel-group">
      <TagPostList @tag={{this.emberTimesTag}}></TagPostList>
    </div>
  {{/if}}

 {{#if this.yearTags.length}}
    <div class="tag-panel-group" data-test-year-group>
      <h3
        id="year-tag-group-title"
        class="tag-panel-group-title text-lg"
        data-test-tag-name
      >
        By Year
      </h3>

      <ul
        class="tag-panel-inline-group list-unstyled ml-1"
        aria-labelledby="year-tag-group-title"
        data-test-tag-list
      >
        {{#each this.yearTags as |yearTag|}}
          <li>
            <LinkTo
              data-test-tag-link
              @route="tag"
              @model={{yearTag.id}}
            >
              {{yearTag.name}}
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if this.versionTags.length}}
    <div class="tag-panel-group" data-test-version-group>
      <h3
        id="version-tag-group-title"
        class="tag-panel-group-title text-lg"
        data-test-tag-name
      >
        By Major Version
      </h3>

      <ul
        class="tag-panel-inline-group list-unstyled ml-1"
        aria-labelledby="version-tag-group-title"
        data-test-tag-list
      >
        {{#each this.versionTags as |versionTag|}}
          <li>
            <LinkTo
              data-test-tag-link
              @route="tag"
              @model={{versionTag.id}}
            >
              {{versionTag.name}}
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if this.subjectTags.length}}
    <div class="tag-panel-group" data-test-subject-group>
      <h3
        id="subject-tag-group-title"
        class="tag-panel-group-title text-lg"
        data-test-tag-name
      >
        By Subject
      </h3>

      <ul
        class="list-unstyled ml-1"
        aria-labelledby="subject-tag-group-title"
        data-test-tag-list
      >
        {{#each this.subjectTags as |subjectTag|}}
          <li class="my-1">
            <LinkTo
              data-test-tag-link
              @route="tag"
              @model={{subjectTag.id}}
            >
              {{subjectTag.name}}
            </LinkTo>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>