{{#if showSidebar}}
<aside class="sidebar" role="complementary">
  <div class="blog-sidebar">
    <h3 class="list-group-title" id="recent-posts">Recent Posts</h3>
    <ul class="list-group" aria-labelledby="recent-posts">
      {{!-- TODO: Add recent posts --}}
      {{!-- {{#each this.recentPosts as |tag|}}
          <li class="list-item">{{#link-to 'tag' tag}}{{tag.name}}{{/link-to}}</li>
        {{/each}} --}}
    </ul>

    <h3 class="list-group-title" id="releases">Releases</h3>
    <ul class="list-group" aria-labelledby="releases">
      {{#each this.specificVersionTags as |tag|}}
      {{#each tag.posts as |post|}}
      <li class="list-item">{{#link-to "post" post}}{{post.title}}{{/link-to}}</li>
      {{/each}}
      {{/each}}
      <li class="list-item"><a href="<%= tag_path 'Releases'%>">More Releases...</a></li>
    </ul>

    <h3 class="list-group-title" id="newsletter">Ember.js Times</h3>
    <ul class="list-group" aria-labelledby="newsletter">
      {{#each this.newsletterTags as |tag|}}
      {{#each tag.posts as |post|}}
      <li class="list-item">{{#link-to "post" post}}{{post.title}}{{/link-to}}</li>
      {{/each}}
      {{/each}}
      <li class="list-item"><a href="<%= tag_path 'Newsletter'%>">More Newsletters...</a></li>

    </ul>


    <h3 class="list-group-title" id="browse-year">Browse by Year</h3>
    <ul class="list-group" aria-labelledby="browse-year">
      {{#each this.yearTags as |tag|}}
      <li class="list-item">{{#link-to 'tag' tag}}{{tag.name}}{{/link-to}}</li>
      {{/each}}

      <li class="list-item"><a href="<%= tag_path 'Releases'%>">More Releases...</a></li>

    </ul>

    <h3 class="list-group-title" id="browse-version">Browse by Major Version</h3>
    <ul class="list-group" aria-labelledby="browse-version">
      <li class="list-item list-inline">
        <a href="<%= tag_path 'version 1.x'%>">1.x</a>
      </li>
      <li class="list-item list-inline">
        <a href="<%= tag_path 'version 2.x'%>">2.x</a>
      </li>
      <li class="list-item list-inline">
        <a href="<%= tag_path 'version 3.x'%>">3.x</a>
      </li>
    </ul>

    <h3 class="list-group-title" id="browse-subject">Browse by Subject</h3>
    <ul class="list-group" aria-labelledby="browse-subject">
      {{#each fiteredTags as |tag|}}
      <li class="list-item">{{#link-to 'tag' tag}}{{tag.name}}{{/link-to}}</li>
      {{/each}}
      {{!-- <li class="list-item"><a href="<%= tag_path 'Announcement'%>">Announcements</a></li>
          <li class="list-item"><a href="<%= tag_path 'Ember CLI'%>">Ember CLI</a></li>
          <li class="list-item"><a href="<%= tag_path 'Ember Data'%>">Ember Data</a></li>
          <li class="list-item"><a href="<%= tag_path 'Newsletter'%>">Newsletter</a></li>
          <li class="list-item"><a href="<%= tag_path 'Performance'%>">Performance</a></li>
          <li class="list-item"><a href="<%= tag_path 'Roadmap'%>">Roadmap</a></li>
          <li class="list-item"><a href="<%= tag_path 'Security'%>">Security</a></li>
          <li class="list-item"><a href="<%= tag_path 'Testing'%>">Testing</a></li> --}}
    </ul>
  </div>
</aside>
{{/if}}