{{#es-header}}
    {{#es-navbar}}
    {{/es-navbar}}
{{/es-header}}

<div class="site-wrapper container">
    
    
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    <div class='main'>
        {{outlet}}
    </div>

    <aside class="sidebar" role="complementary">
      <div class="blog-sidebar">
        <h3 class="list-group-title" id="recent-posts">Recent Posts</h3>
        <ul class="list-group" aria-labelledby="recent-posts">
            {{!-- <% blog.tags['Recent Posts'].sort_by(&:date).reverse.take(3).each_with_index do |article, i| %>
            <li class='list-item'><%= link_to article.title, article %></li>
            <% end %> --}}
            <li class="list-item"><a href="<%= tag_path 'Recent posts'%>">More Recent Posts...</a></li>
        </ul>

        {{!-- <h3 class="list-group-title" id="releases">Releases</h3>
        <ul class="list-group" aria-labelledby="releases">
            <% blog.tags['Releases'].sort_by(&:date).reverse.take(3).each_with_index do |article, i| %>
            <li class='list-item'><%= link_to article.title, article %></li>
            <% end %>
            <li class="list-item"><a href="<%= tag_path 'Releases'%>">More Releases...</a></li>
        </ul>

        <h3 class="list-group-title" id="newsletter">Ember.js Times</h3>
        <ul class="list-group" aria-labelledby="newsletter">
            <% blog.tags['Newsletter'].sort_by(&:date).reverse.take(3).each_with_index do |article, i| %>
            <li class='list-item'><%= link_to article.title, article %></li>
            <% end %>
            <li class="list-item"><a href="<%= tag_path 'Newsletter'%>">More Issues...</a></li>
        </ul>


        <h3 class="list-group-title" id="browse-year">Browse by Year</h3>
        <ul class="list-group" aria-labelledby="browse-year">
            <li class="list-item list-inline">
            <a href="<%= tag_path '2012'%>">2012</a>
            </li>
            <li class="list-item list-inline">
            <a href="<%= tag_path '2013'%>">2013</a>
            </li>
            <li class="list-item list-inline">
            <a href="<%= tag_path '2014'%>">2014</a>
            </li>
            <li class="list-item list-inline">
            <a href="<%= tag_path '2015'%>">2015</a>
            </li>
            <li class="list-item list-inline">
            <a href="<%= tag_path '2016'%>">2016</a>
            </li>
            <li class="list-item list-inline">
            <a href="<%= tag_path '2017'%>">2017</a>
            </li>
            <li class="list-item list-inline">
            <a href="<%= tag_path '2018'%>">2018</a>
            </li>
        </ul>

        <h3 class="list-group-title" id="browse-version">Browse by Major Version</h3>
        <ul class="list-group" aria-labelledby="browse-version">
            <li class="list-item list-inline">
            <a href="<%= tag_path 'version 1.x'%>">1.x</a>
            </li>
            <li class="list-item list-inline">
            <a href="<%= tag_path 'version 2.x'%>">2.x</a>
            </li>
            <li class="list-item list-inline">
            <a href="<%= tag_path 'version 3.x'%>">3.x</a>
            </li>
        </ul> --}}

        <h3 class="list-group-title" id="browse-subject">Browse by Subject</h3>
        <ul class="list-group" aria-labelledby="browse-subject">
            <li class="list-item"><a href="<%= tag_path 'Announcement'%>">Announcements</a></li>
            <li class="list-item"><a href="<%= tag_path 'Ember CLI'%>">Ember CLI</a></li>
            <li class="list-item"><a href="<%= tag_path 'Ember Data'%>">Ember Data</a></li>
            <li class="list-item"><a href="<%= tag_path 'Newsletter'%>">Newsletter</a></li>
            <li class="list-item"><a href="<%= tag_path 'Performance'%>">Performance</a></li>
            <li class="list-item"><a href="<%= tag_path 'Roadmap'%>">Roadmap</a></li>
            <li class="list-item"><a href="<%= tag_path 'Security'%>">Security</a></li>
            <li class="list-item"><a href="<%= tag_path 'Testing'%>">Testing</a></li>
        </ul>
        </div>
    </aside>

</div>

{{es-footer}}

{{!-- The big email subscribe modal content --}}
{{#if labs.subscribers}}
<div id="subscribe" class="subscribe-overlay">
    <a class="subscribe-overlay-close" href="#"></a>
    <div class="subscribe-overlay-content">
        {{#if blog.logo}}
            <img class="subscribe-overlay-logo" src="{{blog.logo}}" alt="{{blog.title}}" />
        {{/if}}
        <h1 class="subscribe-overlay-title">Subscribe to {{blog.title}}</h1>
        <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
        {{subscribe_form placeholder="youremail@example.com"}}
    </div>
</div>
{{/if}}

{{!-- <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script> --}}

{{#if pagination.pages}}
<script>
    var maxPages = parseInt('{{pagination.pages}}');
</script>
{{!-- <script src="{{asset "js/infinitescroll.js"}}"></script> --}}
{{/if}}

{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}
