{{#let @model.post as |post|}}
  <article class="post-content {{unless post.image 'no-image'}}">
    {{#if (eq post.primaryTag.id "newsletter")}}
      <img class="times-logo mb-4" src="/ember-times-logo.png" alt="" role="presentation">
    {{/if}}
    <header>
      <h1 class="post-content-title bold">{{post.title}}</h1>
    </header>

    <div class="text-muted">
      <time>{{moment-format post.date 'MMM Do, YYYY'}}</time> &ndash;
      <AuthorList @post={{post}} />
    </div>

    <div class="mt-2">
      {{markdown-to-html post.content tagName=""}}
    </div>

    <hr class="my-6">

    <Comments @post={{post}} />
  </article>
{{/let}}
