<header class="page-head">
    {{#if (eq @model.id "newsletter")}}
      <h1 class="page-head-title">
        <img class="times-logo" src="/ember-times-logo.svg" alt={{@model.name}}>
      </h1>
    {{else}}
      <h1 class="page-head-title mb-4">
        {{@model.name}}
      </h1>
    {{/if}}
    {{#if @model.description}}
      <p class="page-head-description mb-5">
        {{@model.description}}
      </p>
    {{/if}}
</header>

<div class="post-feed">
  <LoadPosts @model={{@model}} as |posts|>
    {{#each posts as |post|}}
      {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
      <PostCard @post={{post}} />
    {{/each}}
  </LoadPosts>
</div>